body {
	padding: 40px;
	background-color: #1C140D;
	color: #F2E9E1;
}

a { 
	color: #CBE86B;
}

a:hover {
	color: #FF4242;
	text-decoration: none;
}

a.easteregg { 
	color: #FF4242;
}

a.easteregg:hover {
	color: #CBE86B;
	text-decoration: none;
}

ul {
	margin: 40px 0px;
	list-style-type: none;
}

li {
	float: left;
}